<div class="w3-twothird w3-padding" style="height: 100%;" id="contenedor2">
    <div class="tab-wrap" id="contenedor2" style="margin-top: 0%; margin-bottom: 0%;">

      <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
      <label for="tab1" id="label_tab">SÓTANO</label>

      <input type="radio" id="tab2" name="tabGroup1" class="tab">
      <label for="tab2" id="label_tab">PLANTA BAJA</label>

      <input type="radio" id="tab3" name="tabGroup1" class="tab">
      <label for="tab3" id="label_tab">PRIMERA PLANTA</label>

      <input type="radio" id="tab4" name="tabGroup1" class="tab">
      <label for="tab4" id="label_tab">SEGUNDA PLANTA</label>

      <div class="tab_content">
        <div class="w3-quarter" id="tab_1">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula S01</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_1">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula S02</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_1">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula S03</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_1">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula S04</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_1">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula S05</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_1">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula S06</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_1">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula S07</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_1">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula S08</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_1">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula S09</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
      </div>  

      <div class="tab_content">
        <div class="w3-quarter" id="tab_2">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 001</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_2">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 002</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_2">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 003</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_2">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 004</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_2">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 005</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_2">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 006</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_2">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 007</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_2">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 008</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_2">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 009</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
      </div>

      <div class="tab_content">
        <div class="w3-quarter" id="tab_3">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 101</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="/Fuenlabrada_aula101">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_3">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 102</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_3">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 103</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_3">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 104</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_3">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 105</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_3">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 106</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_3">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 107</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_3">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 108</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_3">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 109</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
      </div>

      <div class="tab_content">
        <div class="w3-quarter" id="tab_4">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 201</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_4">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 202</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_4">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 203</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_4">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 204</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_4">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 205</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_4">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 206</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_4">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 207</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_4">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 208</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
        <div class="w3-quarter" id="tab_4">
          <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
              <h6>Aula 209</h6>
            </header>
            <i class="fas fa-desktop fa-5x" aria-hidden="true"></i>
            <div class="w3-container w3-center">
              <a class="w3-button w3-red w3-round-large" href="#">ACCEDER</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>