{% extends 'base.html' %}
{% load static %}

{% block head %}
    {{ block.super }} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/aulario.css' %}">
{% endblock %}

{% block content %}
{% load static %}
<div class="w3-row w3-center" id="contenedor">
    {% include '2_3_contenido.html' %}
    <div class="w3-third" style="height: 100%;" id="section2">
      <div class="w3-card w3-container">
        <h3 id="header-text" style="color:black;">Aula 101</h3>   
        <div style="display: flex; justify-content: center;">
            <a class="fas fa-arrow-alt-circle-left fa-4x" style="margin-right: 20px; margin-top: 2%; margin-bottom: 2%;" href="/Aulario_Fuenlabrada"></a>
            <a class="fas fa-home fa-4x" style="margin-top: 2%; margin-bottom: 2%;" href="/"></a>
        </div>
        <img title="Aula" alt="Aula" src="/static/media/Aula.jpg" style="display: block; margin: auto; align-self: center; max-width: 60%; height: auto; margin-bottom: 5%;">
        <h4 class="body-text"><i class="fas fa-users"></i> Capacidad: <span style="font-weight: bold;">60 personas</span></h4>
        <h4 class="body-text last-body-text">
          Valoración actual: 
          {% for star_number in "12345"|make_list %}
              {% if star_number|add:0 <= estrellas %}
                  <i class="fas fa-star"></i>  {# Estrella llena #}
              {% else %}
                  <i class="far fa-star"></i>  {# Estrella vacía #}
              {% endif %}
          {% endfor %}
        </h4>
        <div style="margin-bottom: 10%; margin-top: 10%">
          <a class="Iot-button" href="{{IOT}}" target="_blank">MONITORIZAR AULA</a>
        </div>
        <a class="Iot-button" href="{{Reserva}}" onclick="window.open('https://urjcfuenlabradaa1aula101.youcanbook.me', '_blank', 'location=yes,height=780,width=800,scrollbars=yes,status=yes')">RESERVAR</a>
        <div id="policy-container" style="margin-top: 10%; background-color: #f2f2f2; padding: 20px; border-radius: 10px; margin-bottom: 10%">
          <h4 class="policy-header" style="margin-bottom: 10px; color: #333; font-weight: bold;">Políticas del Aula</h4>
          <ul class="policy-list" style="list-style-type: none; font-size: 14px;">
              <li>No se permite comida o bebida en el aula.</li>
              <li>Mantenga el aula limpia y ordenada.</li>
              <li>Respete el horario de reserva.</li>
              <li>Informe de cualquier daño o problema técnico a la administración inmediatamente.</li>
              <li>El uso de los equipos del aula debe ser responsable y respetuoso.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}